:root {
    --primary: #9C27B0;
    --darkPrimary: #89119D;
    --secondary: #FFCE00;
    --darkSecondary: rgb(233, 287, 2);
    ---white: #fff;
    --black: #000;
    --mainFont: font-family: 'PT Serif', serif;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    background-color: var(--primary);
    font-size: 1.6rem;
    line-height: 1.5;
}

p {
    font-size: 1.8rem;
    font-family: Arial, Helvetica, sans-serif;
    color: var(---white);
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
}

.container {
    max-width: 120rem;
    margin: 0 auto;
}

h1,
h2,
h3 {
    text-align: center;
    color: var(--secondary);
    font-family: var(--mainFont);
}

h1 {
    font-size: 4rem;
}

h2 {
    font-size: 3.2rem;
}

h3 {
    font-size: 2.4rem;
}
.header{
    display: flex;
    justify-content: center;
}

.header__logo{
    margin: 3rem 0;;
}

.navigation{
    background-color: var(--darkPrimary);
    padding: 1rem 0;
    display: flex;
    justify-content: center;
    gap: 2rem;
}

.navigation__link{
    font-family: var(--mainFont);
    color: var(---white);
    font-size: 3rem;
}
.navigation__link:hover, .navigation__link--active{
    color: var(--secondary);
}

/*footer*/
.footer{
    background-color: var(--darkPrimary);
    padding: 1rem 0;
    margin-top: 2rem;
}

.footer__text{
    font-family: var(--mainFont);
    text-align: center;
    font-size: 2.2rem;
}

/*Grid*/
.grid{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 2rem; /*colum and row gap*/
}

@media (min-width: 768px) {
    .grid{
        grid-template-columns: repeat(3,2fr);
    }
}
/*Products*/
.product{
    background-color: var(--darkPrimary);
    padding: 1rem;
}
.product__img{
    width: 100%;
}
.product__info{

}
.product__name{
    font-size: 4rem;
}
.product__price{
    font-size: 2.8rem;
    color: var(--secondary);
}

.product__name , .product__price{
    font-family: var(--mainFont);
    margin: 1rem 0;
    text-align: center;
}

/*Graphs*/
.graph{
    min-height: 30rem;
    background-repeat: no-repeat;
    background-size: cover;
    grid-column: 1 / 3;
}
.graph__1{
    grid-row: 2 / 3;
    background-image: url(../img/grafico1.jpg);
}
.graph__2{
    grid-row: 8 / 9;
    background-image: url(../img/grafico2.jpg);
}

@media (min-width: 768px) {
    .graph__2{
        grid-row: 5 / 6;
        grid-column: 2 / 4;
    }
}

/*About us*/

.information{
    display: grid;
    grid-template-rows: 2,1fr;
}


@media (min-width: 768px) {
    .information{
        grid-template-columns: repeat(2,auto); /*puede ser repeat (2,1fr)*/
        column-gap: 2rem;
    }
}

.information__text{
    align-self: center; /*centrar verticalmente dentro de un grid*/
}
.information__img{
    grid-row: 1 / 2;
    width: 100%;
}

@media (min-width: 768px) {
    .information__img{
        grid-column: 2 /3;
    }
}

.blocks{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 2rem;
}
@media (min-width: 768px) {
    .blocks{
        grid-template-columns: repeat(4,1fr);
    }
}
.block{
    text-align: center;
}
.block__title{
    margin: 0;
}

.block__img{
    width: 100%;
}